{% extends 'base.html' %}
{% block head %}
{% endblock %}
{% block content %}
    <h1> HopNets </h1>
    <div class="container">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">{{ featured.title }}</h1>
        <p class="lead my-3"> Latest blog post information.</p>
            <p class="lead mb-0">
                <a href={{ url_for('blogs.get_single_blog', id=featured.id) }}> Continue reading..</a>
            </p>
        </div>
    </div>
<div class="row mb-2">
{%  for blog in homepage %}
    <div class="col-md-6">
<div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary" Category> </strong>
    <h3 classs="mb-0">
        <a class="text-dark" href={{ url_for('blogs.get_single_blog', id=blog.id) }}> {{ blog.title }}</a>
    </h3>
        <div class="mb-1 text-muted"> {{ blog.created_at }} </div>
        <p class="card-text mb-auto">
            "This is an example test of the post".
        </p>
        <a href={{ url_for('blogs.get_single_blog', id=blog.id) }}> Continue reading </a>
    </div>
    <img class=" card-img-right flex-auto d-none d-md-block" data-src="holder.js/200x250?theme=thumb" alt="Thumbnail [200x250}" style="width: 200px; height: 250px;" src="{{url_for('static', filename='imgs/'+blog.feature_image) }}" data-holder-rendered="true">
    </div>
    </div>
{%  endfor %}
</div>
    </div>
{% endblock content %}
