
{% extends 'base.html' %}

{% block head %}
       <style>
    .codeMirror-scroll{
        height: 100%;
        min-height: 60%;
    }
	.button {
		display:block; 
		width: 100%; 
} 
ul {
  list-style: none;
}
</style>
 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="grid search">
                <div class="grid-body">
            <div class="form-wrapper">
                <h1 class="mt-4">New Circuit Order</h1>
                <hr>
                <form method="POST" id="quoteform" action="{{ url_for('order.new_order', ref=net) }}" >
                    {{ form.csrf_token }}
					<div class="row">
					<div class="col-sm">
                      <fieldset class="form-field">
                        {{ form.purchaseOrderNumber.label}}
						<br>
                        {{ form.purchaseOrderNumber(class_="form-control",type="number", maxlength=20) }}
                    </fieldset>
					</div>
					<hr>
                        <div class="col-sm">
                    <fieldset class="form-field">
                        {{ form.btwProductId.label}}
						<br>
                        {{ form.btwProductId(class_="form-control",maxlength=20) }}
                    </fieldset>
					</div>
                    </div>
						<hr>
						<div class="row">
						<div class="col-sm">
						<h2 class="mt-4">Primary Provisioning Contact</h2>
						</div>
						</div>
						<hr>
						<div class="row">
						<div class="col-sm">
							<fieldset class="controls">
							{{ form.FirstName.label}}
							<br>
							{{ form.FirstName(class_="form-control", maxlength="50") }}
							</fieldset>
							</div>

							<div class="col-sm">
								<fieldset class="controls">
								{{ form.LastName.label}}
								<br>
								{{ form.LastName(class_="form-control", maxlength="50") }}
								</fieldset>
							</div>
							</div>

					<div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.Telephone.label}}
                        <br>
						{{ form.Telephone(class_="form-control", pattern="[0-9]{11}", title="Enter 11 digit telephone number")  }}
                    </fieldset>
					</div>
					<hr>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.Email.label}}
                        <br>
						{{ form.Email(class_="form-control", type="email", maxlength="70") }}
                    </fieldset>
					</div>
					</div>
					<hr>
						<div class="row">
						<div class="col-sm">
						<h2 class="mt-4">Site installation Details</h2>
						</div>
						</div>
                    <hr>
					<div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.endCustomerCompanyName.label}}
                        <br>
						{{ form.endCustomerCompanyName(class_="form-control", maxlength="30") }}
                    </fieldset>
					</div>

					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.postcode.label}}
                        <br>
						{{ form.postcode(class_="form-control", pattern="[Gg][Ii][Rr] 0[Aa]{2})|((([A-Za-z][0-9]{1,2})|(([A-Za-z][A-Ha-hJ-Yj-y][0-9]{1,2})|(([A-Za-z][0-9][A-Za-z])|([A-Za-z][A-Ha-hJ-Yj-y][0-9][A-Za-z]?))))\s?[0-9][A-Za-z]{2}", title="Enter a valid postcode") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.streetName.label}}
                        <br>
						{{ form.streetName(class_="form-control", maxlength="80") }}
                    </fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.townCity.label}}
                        <br>
						{{ form.townCity(class_="form-control", maxlength="58") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
                    <div class="col-sm">
					<fieldset class="controls">
                        {{ form.bandwidth.label}}
                        <br>
						{{ form.bandwidth(class_="form-control", maxlength="40") }}
                    </fieldset>
					</div>
                    <div class="col-sm">
					<fieldset class="controls">
                        {{ form.term.label}}
                        <br>
						{{ form.term(class_="form-control", type="number", maxlength="2") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
                         <div class="col-sm">
					<fieldset class="controls">
                        {{ form.etherflow.label}}
                        <br>
						{{ form.etherflow(class_="form-control") }}
                    </fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.firstName.label}}
                        <br>
						{{ form.firstName(class_="form-control", maxlength="50") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.lastName.label}}
                        <br>
						{{ form.lastName(class_="form-control", maxlength="50") }}
                    </fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.phoneNumber.label}}
                        <br>
						{{ form.phoneNumber(class_="form-control", pattern="[0-9]{11}", title="Enter 11 digit telephone number") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.accessAvailableFrom.label}}
                        <br>
						{{ form.accessAvailableFrom(class_="form-control", type="date", min="") }}
                    </fieldset>
					</div>
                    <script>
                        var tomorrow = new Date();
                        var dd = today.getDate()+1;
                        var mm = today.getMonth()+1; //January is 0 so need to add 1 to make it 1!
                         var yyyy = today.getFullYear();
                         if(dd<10){
                             dd='0'+dd
                         }
                         if(mm<10){
                             mm='0'+mm
                         }
                         tomorrow = yyyy+'-'+mm+'-'+dd;
                         document.getElementById("accessAvailableFromId").setAttribute("min", tomorrow);
                        </script>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.siteConstraint.label}}
                        <br>
						{{ form.siteConstraint(class_="form-control") }}
                    </fieldset>
					</div>
                    </div>
                    <hr>
					<div class="row">
						<div class="col-sm">
						<h2 class="mt-4">Primary NNI details</h2>
						</div>
                        </div>
						<hr>
					<div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.nni.label}}
                        <br>
						{{ form.nni(class_="form-control", maxlength="40") }}
                    </fieldset>
                    </div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.floor.label}}
                        <br>
						{{ form.floor(class_="form-control", maxlength="10") }}
                    </fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.room.label}}
                        <br>
						{{ form.room(class_="form-control", maxlength="20") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.rack.label}}
                        <br>
						{{ form.rack(class_="form-control", maxlength="20") }}
                    </fieldset>
                    </div>
                        <div class="col-sm">
					<fieldset class="controls">
                        {{ form.taggingMethod.label}}
                        <br>
						{{ form.taggingMethod(class_="form-control") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
					<fieldset class="controls">
                        {{ form.interfaceType.label}}
                        <br>
						{{ form.interfaceType(class_="form-control") }}
                    </fieldset>
                    </div>
                        <div class="col-sm">
					<fieldset class="controls">
                        {{ form.autonegotiation.label}}
                        <br>
						{{ form.autonegotiation(class_="form-control") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.interfaceSpeed.label}}
                        <br>
						{{ form.interfaceSpeed(class_="form-control") }}
                    </fieldset>
                    </div>
                        <div class="col-sm">
					<fieldset class="controls">
                        {{ form.duplex.label}}
                        <br>
						{{ form.duplex(class_="form-control") }}
                    </fieldset>
					</div>
					</div>
                         <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.deliveryAddress.label}}
                        <br>
						{{ form.deliveryAddress(class_="form-control", maxlength="80") }}
                    </fieldset>
					</div>
                    </div>
                    <div class="row">
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.deliveryContact.label}}
                        <br>
						{{ form.deliveryContact(class_="form-control", maxlength="50") }}
                    </fieldset>
					</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.deliveryContactNumber.label}}
                        <br>
						{{ form.deliveryContactNumber(class_="form-control", pattern="[0-9]{11}", title="Enter 11 digit telephone number") }}
                    </fieldset>
					</div>
                    </div>
                    <hr>
					<div class="row">
                            <button type="submit" class="btn btn-secondary"> Submit </button>
                    </div>
                </form>
                </form>
            </div>
	    </div>
         <hr>
        </div>
    </div>
    </div>
</div>
{% endblock %}