{% extends 'base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="container">
	<div class="row">
	  <div class="col-lg-8">
	    <h1 class="mt-4"> {{ blog.title }} </h1>
		<hr>
		<p>Last updated: {{ blog.created_at }}</p>
		<hr>
          <img class="img-fluid" src="{{url_for('static', filename='imgs/'+blog.feature_image) }}" alt="">
          <hr>
		 {{ html|safe }}
		 <hr>
		</div>
		<div class="col-md-4">
		<!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Search</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-secondary" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Tags</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in first_half_tags %}
                  <li>
                    <a href={{ url_for('blogs.get_tags', tag=tag.name) }}>{{ tag.name }}</a>
                  </li>
                    {% endfor %}
                </ul>
              </div>
			  <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                    {% for tag in second_half_tags %}
                  <li>
                    <a href={{ url_for('blogs.get_tags', tag=tag.name) }}>{{ tag.name }}</a>
                  </li>
                    {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
		<div class="card my-4">
          <h5 class="card-header">Related articles</h5>
          <div class="card-body">
		  <li>
		 Inserts relevent articles.
		  </li>
          </div>
        </div>
	  </div>
	</div>
</div>
{% endblock content %}