{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='taggle.css')}}">
    <script src="{{ url_for('static', filename='taggle.js')}}"></script>
       <style>
	.button {
		display:block; 
		width: 100%; 
} 
ul {
  list-style: none;
}
</style>
 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-wrapper">
                <h1 class="mt-4">Search existing quote</h1>
                <hr>
                <form method="POST" id="quoteform" action="{{ url_for('provider.view_pricing') }}" >
                    {{ form.csrf_token }}
                    <hr>
					<div class="container">
						<div class="row">
						  <div class="col-sm">
							<fieldset class="form-field">
							{{ form.net.label}}
							{{ form.net }}
							</fieldset>
						  </div>
					    </div>
					</div>
					<hr>
					<input type="submit" value="Submit" class="button">		
                </form>
                  <div class="container">
                      <div class="row">
                          <div class="col-sm">
                              <table class="table">
                                  <tr>
                                      <th>Net Ref</th>
                                      <th>Postcode</th>
                                      <th>Suppliers</th>
                                      <th>Supplier Ref</th>
                                      <th>Quote created</th>
                                  </tr>
                                  {% for quote in quotes %}
                                      <tr>
                                          {% for q in quote.quotes %}
                                              <th>{{ q.net }}</th>
                                              <th>{{ q.name}}</th>
                                              {% endfor %}
                                          <th>{{ quote.provider }}</th>
                                          <th>{{ quote.supplier_ref }}</th>
                                          <th>{{ quote.created_at }}</th>
                                      <th>{% for q in quote.quotes %}
                                          <form action="{{ url_for('provider.get_pricing', id=q.id) }}">
                                          <input type="submit" value="View"/>
                                      </form>
                                          {% endfor %}
                                      </th>
                                      </tr>
                                  {% endfor %}
                              </table>
                          </div>
                      </div>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}