{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block content %}
        <div class="container">
    <div class="row">
        <div class="col-md-13">
            <div class="grid search">
                <div class="grid-body">
                    <div class="row">
<div class="col-md-3">
              <h2 class="grid-title"> <div class="float-left">Filters</div></h2>
              <br>
              <br>
            <hr>
              <h4> By reference: </h4>
              <form method="POST" id="quoteform" action="{{ url_for('provider_pricing.view_pricing') }}" >
                    {{ form.csrf_token }}
							<fieldset class="form-field">
							{{ form.net }}

					<button type="submit" class="btn btn-secondary"> search </button></fieldset>
                </form>
            <!-- BEGIN FILTER BY CATEGORY, change to loop through customers -->
            <h4>By Customer:</h4>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> customer1</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> customer2</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> customer3</label>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> customer4</label>
            </div>
            <!-- END FILTER BY CATEGORY -->

            <div class="padding"></div>

            <!-- BEGIN FILTER BY DATE -->
            <h4>By date:</h4>
            From
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input1">
              <input type="text" class="form-control">
              <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input1" value="">

            To
            <div class="input-group date form_date" data-date="2014-06-14T05:25:07Z" data-date-format="dd-mm-yyyy" data-link-field="dtp_input2">
              <input type="text" class="form-control">
              <span class="input-group-addon bg-blue"><i class="fa fa-th"></i></span>
            </div>
            <input type="hidden" id="dtp_input2" value="">
            <!-- END FILTER BY DATE -->

            <div class="padding"></div>

            <!-- BEGIN FILTER BY PRICE -->
            <h4>By User:</h4>
            <div class="checkbox">
              <label><input type="checkbox" class="icheck"> user1</label>
            </div>
              <div class="checkbox">
              <label><input type="checkbox" class="icheck"> user2</label>
            </div>
            <!-- END FILTER BY PRICE -->
          </div>
          <!-- END FILTERS -->
          <!-- BEGIN RESULT -->
          <div class="col-md-9">
              <h2 class="grid-title"><div class="float-left">Search existing quote</div></h2>
            <br>
            <br>
            <hr>
            <div class="padding"></div>
            <div class="row">
              <!-- BEGIN ORDER RESULT -->
              <div class="col-sm-6">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Order by <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Customer</a></li>
                    <li><a href="#">Most recent</a></li>
                  </ul>
                </div>
              </div>
              <!-- END ORDER RESULT -->

            </div>
    <div class="table-responsive"></div>
              <table class="table table-hover">
      <tbody>
      {% for quote in quotes %}
      <tr>
          <td class="Net_Ref"><strong>NET Ref</strong><br> {{ quote[0].net }}</td>
          <td class="Postcode"><strong>Postcode</strong><br> {{ quote[0].postcode }}</td>
          <td class="Supplier"><strong>Supplier</strong><br> {{ quote[1].provider }}</td>
          <td class="Supplier_Ref"><strong>Supplier Ref</strong><br>{{ quote[1].quoteReference}} </td>
          <td class="Supplier_quote_created"><strong>Supplier quote created</strong><br>{{ quote[1].created_at.strftime('%Y-%m-%d %H:%M:%S')}} </td>
          <td class="View_Pricing"><form action="{{ url_for('provider_pricing.get_pricing', net=quote[0].net) }}">
                                                  <button type="submit" class="btn btn-secondary"> View Pricing </button></form> </td>
      </tr>
      {% endfor %}
      </tbody>
          </table>
          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}