{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='taggle.css')}}">
    <script src="{{ url_for('static', filename='taggle.js')}}"></script>
       <style>
    .codeMirror-scroll{
        height: 100%;
        min-height: 60%;
    }
	.button {
		display:block; 
		width: 100%; 
} 
ul {
  list-style: none;
}
</style>
 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="form-wrapper">
                <h1 class="mt-4">Request New Quote</h1>
                <hr>
                <form method="POST" id="quoteform" action="{{ url_for('customer_quote.new_quote') }}" >
                    {{ form.csrf_token }}
                    <fieldset class="form-field">
                        {{ form.customer_name.label}}
                        {{ form.customer_name(size=40) }}
                    </fieldset>
                    <fieldset class="form-field">
                        {{ form.customer_email.label}}
                        {{ form.customer_email(size=40) }}
                    </fieldset>
                    <fieldset class="form-field">
                        {{ form.net.label}}
                        {{ form.net(size=20) }}
                    </fieldset>
					  <fieldset class="form-field">
                        {{ form.postcode.label}}
                        {{ form.postcode(size=20,**{"onchange":"postcodeChecker()"}) }}
                    </fieldset>
                    <hr>
					<div class="container">
						<div class="row">
                            <div class="col-sm">
                                <fieldset class="controls">
                                    {{ form.suppliers.label}}
                                    <br>
                                    {{ form.suppliers(**{"onchange":"supplierFunction()"}) }}
                                </fieldset>
                            </div>
                            <script>
					function supplierFunction() {
                        if (document.getElementById("suppliers-0").checked && (document.getElementById("suppliers-1").checked || document.getElementById("suppliers-2").checked))  {
                            document.getElementById("btw_bandwidths_div").style.display = "block";
                            document.getElementById("bandwidths_div").style.display = "block";
                        }
                        else if (document.getElementById("suppliers-1").checked || document.getElementById("suppliers-2").checked)  {
                            document.getElementById("bandwidths_div").style.display = "block";
                            document.getElementById("btw_bandwidths_div").style.display = "none";
                        }
                        else if (document.getElementById("suppliers-0").checked) {
                            document.getElementById("btw_bandwidths_div").style.display = "block";
                            document.getElementById("bandwidths_div").style.display = "none";
                        }
                        else {
                            document.getElementById("btw_bandwidths_div").style.display = "none";
                            document.getElementById("bandwidths_div").style.display = "none";
                        }
                    }
                    function postcodeChecker() {
                        var postcode = document.getElementById('postcode').value;
                        var url = "{{url_for('customer_quote.search_address')}}";
                        var json = "application/json";

                        function onSuccess(data) {
                            var addresskey = JSON.parse(data);
                            document.getElementbyId("address_key").innerHTML = addresskey;
                        }
                        $.ajax({ type:"POST",url:url,contentType:json, data :JSON.stringify({postcode : postcode})});

                    }
					</script>
                            <hr>
						<div class="col-sm">
							<fieldset class="form-field">
							{{ form.accessTypes.label}}
							{{ form.accessTypes }}
							</fieldset>
						</div>	
						<div class="col-sm">
							<fieldset class="controls" id="bandwidths_div" style="display: none">
							{{ form.bandwidths.label}}
							<br>
							{{ form.bandwidths }}
							</fieldset>
						</div>
                        <div class="col-sm">
							<fieldset class="controls" id="btw_bandwidths_div" style="display: none">
							{{ form.btw_bandwidths.label}}
							<br>
							{{ form.btw_bandwidths }}
                            {{ form.btw_bw_type }}
							</fieldset>
						</div>
						</div>
					<hr>
						<div class="row">
                            	<div class="col-sm">
							<fieldset class="controls">
							{{ form.bearers.label}}
							<br>
							{{ form.bearers }}
							</fieldset>
						</div>
					<div class="col-sm">
					<fieldset class="controls">
                        {{ form.terms.label}}
                        <br>
						{{ form.terms }}
                    </fieldset>
					</div>
					</div>
					<hr>
					<div class="row">
					<input type="submit" value="Submit" class="button">
					</div>
				</div>					
                </form>
            </div>
	    </div>
         <hr>
        </div>
    </div>

</div>
{% endblock %}